// Font Families
$ff-subtitle: 'Homemade Apple', cursive;
$ff-block-title: 'Rajdhani', sans-serif;
$ff-text: 'Roboto', sans-serif;

// Font sizes
$fs-base: 16px;
$fs-table-title: 24px;
$fs-subtitle: 26px;
$fs-card-title: 36px;
$fs-block-title: 56px;

// Font weights
$fw-regular: 400;
$fw-bold: 700;

// Colors
$c-subtitle: #d62324;
$c-block-title: #16120f;
$c-white: #ffffff;
$c-table: #707070;
