.c-faq {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    height: 100%;
  }

  &__content-container {
    margin: 0 auto;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  &__subtitle {
    font-family: $ff-subtitle;
    color: $c-subtitle;
    font-size: $fs-subtitle;
    margin-bottom: 25px;
  }

  &__title {
    font-family: $ff-block-title;
    color: $c-block-title;
    font-weight: $fw-bold;
    font-size: $fs-block-title;
    margin-bottom: 25px;
  }

  &__border {
    border: 1px solid $c-subtitle;
    width: 50px;
    margin-bottom: 25px;
  }

  &__text {
    font-size: 18px; //todo не компілиться змінна
    margin-bottom: 45px;
  }
}

.c-accordion {
  &__content {
    position: relative;
    margin-bottom: 15px;
  }

  &__question {
    margin-bottom: 25px;
    cursor: pointer;
    font-size: $fs-subtitle;
    font-family: $ff-block-title;
  }

  &__question::before {
    content: '+';
    position: absolute;
    color: $c-block-title;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    font-size: $fs-subtitle;
    font-weight: 300;
  }

  &__content.active &__question::before {
    content: '-';
  }

  &__text {
    position: relative;
    height: 0;
    transition: 0.5s;
    overflow-y: auto;
    overflow-x: auto;
    overflow-y: hidden;
  }

  &__content.active &__text {
    height: 50px;
    padding: 10px 10px 20px 0;
  }

  &__border {
    border: 1px solid rgba(21, 17, 14, 0.1);
    margin-bottom: 20px;
  }
}
